.board {
  height: 78vh;
  width: 39vw;
  background-image: url(/public/images/board-background.png);
  background-size: cover;
  border-radius: 50%;
  margin: 0vw 3vw 4vw 3vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-A,
.letter-B,
.letter-C,
.letter-D,
.letter-E,
.letter-F,
.letter-G,
.letter-H,
.letter-I,
.letter-J,
.letter-K,
.letter-L,
.letter-M,
.letter-N,
.letter-O,
.letter-P,
.letter-Q,
.letter-R,
.letter-S,
.letter-T,
.letter-U,
.letter-V,
.letter-W,
.letter-X,
.letter-Y,
.letter-Z {
  border-radius: 50%;
  background-color: rgb(237, 237, 237);
  border: 0.2vw ridge rgb(185, 179, 121);
  background-size: 40% 120%;
  background-position: center;
  background-repeat: no-repeat;
  height: 2.5vw;
  width: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.7);
}

.top-letter-ornament {
  height: 1.2vw;
  width: 1.2vw;
  position: absolute;
  transform: translateY(-1.2vw);
  background-image: url(/public/images/top-letter-ornament.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bottom-letter-ornament {
  height: 1.2vw;
  width: 1.2vw;
  position: absolute;
  transform: translateY(1.2vw);
  background-image: url(/public/images/bottom-letter-ornament.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.board div:nth-child(1) {
  transform: translate(2.1vw, -17vw);
}

.board div:nth-child(2) {
  transform: translate(6vw, -16vw);
}

.board div:nth-child(3) {
  transform: translate(9.7vw, -14vw);
}

.board div:nth-child(4) {
  transform: translate(12.8vw, -11.3vw);
}

.board div:nth-child(5) {
  transform: translate(15.3vw, -8vw);
}

.board div:nth-child(6) {
  transform: translate(16.8vw, -4.2vw);
}

.board div:nth-child(7) {
  transform: translate(17.3vw, 0vw);
}

.board div:nth-child(8) {
  transform: translate(16.8vw, 4.2vw);
}

.board div:nth-child(9) {
  transform: translate(15.3vw, 8vw);
}

.board div:nth-child(10) {
  transform: translate(12.8vw, 11.3vw);
}

.board div:nth-child(11) {
  transform: translate(9.7vw, 14vw);
}

.board div:nth-child(12) {
  transform: translate(6vw, 16vw);
}

.board div:nth-child(13) {
  transform: translate(2.1vw, 17vw);
}

.board div:nth-child(14) {
  transform: translate(-2.1vw, 17vw);
}

.board div:nth-child(15) {
  transform: translate(-6vw, 16vw);
}

.board div:nth-child(16) {
  transform: translate(-9.7vw, 14vw);
}

.board div:nth-child(17) {
  transform: translate(-12.8vw, 11.3vw);
}

.board div:nth-child(18) {
  transform: translate(-15.3vw, 8vw);
}

.board div:nth-child(19) {
  transform: translate(-16.8vw, 4.2vw);
}

.board div:nth-child(20) {
  transform: translate(-17.3vw, 0vw);
}

.board div:nth-child(21) {
  transform: translate(-16.8vw, -4.2vw);
}

.board div:nth-child(22) {
  transform: translate(-15.3vw, -8vw);
}

.board div:nth-child(23) {
  transform: translate(-12.8vw, -11.3vw);
}

.board div:nth-child(24) {
  transform: translate(-9.7vw, -14vw);
}

.board div:nth-child(25) {
  transform: translate(-6vw, -16vw);
}

.board div:nth-child(26) {
  transform: translate(-2.1vw, -17vw);
}

.pokemon {
  height: 46%;
  width: 46%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: contain;
}

.current-turn-signal {
  background-image: url(/public/images/current-turn.png);
  height: 80%;
  width: 80%;
  background-position: center;
  background-size: contain;
  position: absolute;
  animation: spin 30s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
