.container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.board-container {
  width: 100%;
  height: 100%;
  background-image: url(/public/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.board-table {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-name {
  height: 7.5vw;
  width: 100%;
  background-image: url(/public/images/player-name.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 41.5vw;
  z-index: 2;
}

.next-question {
  height: 10vw;
  width: 10vw;
  background-image: url(/public/images/next-question.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 4.5vw;
  transition: all 500ms;
}

.points {
  height: 11vw;
  width: 13vw;
  background-image: url(/public/images/points.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 1;
  bottom: -1.8vw;
}

.next-question:hover {
  transform: scale(110%);
  background-image: url(/public/images/next-question.png);
}

.board-table button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bar {
  height: 25vw;
  width: 12vw;
  background-image: url(/public/images/bar.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 2;
}

.input {
  width: 25vw;
  height: 8vw;
  position: absolute;
  margin: 0 auto;
  top: 40vw;
  background-image: url(/public/images/input.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 30%;
  width: 55%;
  border: none;
  background-color: transparent;
  text-align: center;
}

input:focus {
  outline: none;
  border: none;
}